h1{color: rgb(253, 253, 253); 
    text-align:center; 
    font-size: 38px; 
    background-color:rgba(107, 12, 12);
    margin-top: 0%;
}
body{ background-color: rgba(96, 223, 106, 0.411);}
img{ width: 50%;}
.img{text-align: center;}
h2{color: rgb(107, 12, 12);}
